// Font 
$font-h2: 'Ephesis', cursive;
$font-button: 'Lobster', cursive;

// Color
$color-dark: rgb(0, 0, 0);
$color-light: rgb(255, 255, 255);
$background-header: #f4f4f4;
$color-label: rgb(238, 95, 39);
$color-input: rgb(243, 150, 44);
$color-button: rgb(1, 107, 206);
$color-fail: rgb(230, 30, 30);
$color-valid: rgb(16, 139, 22);
